<?xml version="1.0" encoding="us-ascii"?>
<CFProjPrefs xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <projectPath>/Users/Nattapat/Unity-Game-Dev-Project/Assets</projectPath>
  <isIsntalled>false</isIsntalled>
  <wasShown>false</wasShown>
  <installedVer>0</installedVer>
</CFProjPrefs>