<?xml version="1.0" encoding="windows-874"?>
<CFProjPrefs xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <projectPath>E:/ku_work/gameDev/term-project/ku-game-dev-project-client/Assets</projectPath>
  <isIsntalled>false</isIsntalled>
  <wasShown>false</wasShown>
  <installedVer>0</installedVer>
</CFProjPrefs>